---
import { SITE_FOOTER_TEXT, SITE_SOCIALS } from '../consts';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} {SITE_FOOTER_TEXT}
	<div class="social-links">
		{
			SITE_SOCIALS.map((s) => (
				<a href={s.url} target="_blank" rel="noopener">
					{s.label}
				</a>
			))
		}
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1.2em;
		margin-top: 1em;
		flex-wrap: wrap;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
		font-weight: 600;
	}
	.social-links a:hover {
		color: var(--accent-dark);
	}
</style>
